## for Local Build

# Mandatory Vars

NAME='𝑻𝒊𝒚𝒂𝒔𝒂'
## Name of receiver

PIC='BABU5.jpg'
## Name of image file

# Optional Vars -- Do not add these vars to your env if you dont want to use them

NICKNAME='𝑩𝒆𝒃'
## A Nickname for more personalization

HBD_MSG='Happy Birthday Bebbbbbbbb 😘🎉💕'
## Custom HBD Greeting message

SCROLL_MSG='sample-scroll.txt'
## Name of the Scroll Message txt file

OPEN_DATE='2024-09-04'
## Active Date in YYYY-MM-DD format
